<div class="footer">
  <!-- <hr> -->
  <div class="row">
    <div class="col-sm-12">
      <p><small>&copy; Nandan Saha 2016 |
	  <a href="http://www.twitter.com/nonedonetwtr" title="Follow me on Twitter">Twitter</a> |
	  <a href="/about" title="About this site">About this site</a>
      </small></p>
    </div>
    <!-- <div class="col-sm-6"> -->
    <!--   <p class="pull-right"><small><a href="/about" title="About this site">About this site</a></small></p> -->
    <!-- </div> -->
  </div>
</div> <!-- /footer -->
